* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container {
    display: block;
}

/* <h1> */
.header-title {
    background-color: gray;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 10px;
}

/* <nav> */
.header-navbar {
    background-color: gainsboro;
    margin: 0;
    text-align: center;
    padding: 10px;
}

/* <ul>  */
.header-list {
    margin: 0;
    display: inline-block;
}

.header-navbar a{
    text-decoration: none;
}
