* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ----------- HEADER STYLES ----------- */
.header-container {
    margin-bottom: 10px;
}

/* <h1> */
.header-title {
    background-color: gray;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 10px;
}

/* <nav> */
.header-navbar {
    background-color: gainsboro;
    margin: 0;
    text-align: center;
    padding: 10px;
}

/* <ul>  */
.header-list {
    margin: 0;
    display: inline-block;
}

.header-navbar a{
    text-decoration: none;
}

/* ----------- MAIN STYLES ----------- */
.main-container {
    background-color: #434343;
    padding: 10px;
    overflow: hidden;
}

.main-article-container {
    background-color: gray;
}

.main-article-container, .main-aside {
    display: inline-block;
    vertical-align: top;
}

.main-article-container {
    width: 75%;
}

.main-aside {
    width: 23%;
    height: 100%;
    margin-left: 10px;
    background-color: gray;
}

.main-aside h2, .main-aside ul {
    background-color: whitesmoke;
    border: gold solid 2px;
    margin: 10px;
    padding: 10px;
}

.main-aside h2 {
    text-align: center;
}

.main-aside ul {
    height: 100%;
    height: 318px;
}

.main-aside li {
    margin-left: 20px;
}

.main-article {
    background-color: whitesmoke;
    border: gold solid 2px;
    margin: 10px;
    padding: 10px;
}

.main-article h2 {
    text-align: center;
    margin: 0;
}

.main-images {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.main-images img {
    outline: 2px gold solid;
    display: inline-block;
    margin: 0 40px 0 0;
}

/* ----------- MAIN STYLES ----------- */